!! IOS XR Configuration version = 6.4.1
!! Last configuration change at Fri Jul 27 14:34:11 2018 by ZTP
!
hostname r1
banner motd ;
--------------------------------------------------------------------------
  Router 1 (Cisco IOS XR Sandbox)
--------------------------------------------------------------------------
;
service timestamps log datetime msec
service timestamps debug datetime msec
username admin
 group root-lr
 group cisco-support
 secret 5 $1$A4C9$oaNorr6BXDruE4gDd086L.
!
line console
 timestamp disable
 exec-timeout 0 0
!
vty-pool default 0 4 line-template VTY-TEMPLATE
call-home
 service active
 contact smart-licensing
 profile CiscoTAC-1
  active
  destination transport-method http
 !
!
interface MgmtEth0/RP0/CPU0/0
 description *** MANAGEMENT INTERFACE ***
 ipv4 address dhcp
!
router static
 address-family ipv4 unicast
  0.0.0.0/0 192.168.122.1
 !
!
!
netconf-yang agent
 ssh
!
ssh server v2
ssh server netconf vrf default
end
